# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# =========================
# Flutter & Dart
# =========================
.packages
build/

# =========================
# Hive (LOCAL DATA - SENSITIVE)
# =========================
*.hive
*.lock

# =========================
# Android
# =========================
android/.gradle/
android/local.properties
android/key.properties
android/app/debug/
android/app/release/

# Keystore (SANGAT SENSITIF)
*.jks
*.keystore

# =========================
# iOS (kalau nanti pakai)
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# =========================
# IDE & OS
# =========================
.vscode/
*.iml
.DS_Store
Thumbs.db

# =========================
# Environment / Secrets
# =========================
.env
.env.*
